 :root{
    --color-white: #ffffff;
    --color-black: #000000;

    --color-accent: #34547a;

    --text-secondary: #727272;
    --text-primary: #000;
    --text-accent: #fff;

    --button-border: 1px solid transparent;

    --bg-accent: #EEEFF1;   
}
*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    font-family: "Roboto", sans-serif;
    line-height: 1.64;

}

.container {
    padding: 0 calc(50vw - 555px);
    
}

.header {
    background-color: var(--bg-accent);
    padding-top: 79px;
    padding-bottom: 20px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}


.header__list{
    display: flex;
    list-style-type: none;
    gap: 50px;

}

.header__link{
    text-decoration: none;
    color: var(--color-black);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header__link.header__link--active{
    color: var(--color-accent);
    font-weight: 500;
}

.header__link:hover,
.header__link:focus{
    opacity: .8;
}

.header__link:active{
    opacity: .3;
} 


.offer{
    background-color: var(--bg-accent);
    padding-bottom: 141px;
    padding-top: 257px;
}

.offer__title{
    font-weight: 500;
    font-size: 48px;
    margin: 0 0 60px;
}

.offer__description{
    max-width: 540px;
    margin: 0 0 60px;
    color: var(--text-secondary);
}
 
.button{
    background-color: var(--color-accent);
    color: var(--text-accent);
    border: var(--button-border);
    padding: 18px 41px;
    display: inline-flex;
    line-height: 1.64;
    text-decoration: none;
    letter-spacing: .1em;
    min-width: 225px;
    justify-content: center;
    position: relative;

}

.button:hover,
.button:focus{
    opacity: .8;
}

.button:active{
    opacity: .3;
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.text-section__title{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    color: var(--text-primary);
}

.text-section__description {
    max-width: 540px;
    color: var(--text-secondary);
} 

.mb50 {
    margin-bottom: 50px;
}

.color-block{
    background-color: var(--color-accent);
    width: 100vw;    
}

.item-section{
    color: var(--text-accent);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px calc(50vw - 555px);
   
}

.item-section__group{
    display: flex;
    align-items: center;
    width: 140px;

    
}

.item-section h3:not(.h3-text){
    font-weight: 500;
}

.h3-text{
    font-weight: 400;
    margin-top: -15px;
    font-size: 16px;
}

.color-block__item{
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.footer{
    height: 151px;
    color: var(--text-accent);
    margin-bottom: 0;
    position: absolute;
}

.footer__content {
    padding-left: calc(50vw - 555px);
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0 auto;
}


.footer h3{
    font-family:"Roboto", sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

.footer p{
    font-size: 13px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 1170px){
    .container{
        background-color: aquamarine;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 720px;
    }
    .item-section{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
}
@media screen and (max-width: 850px){
    .main{
        padding-left: calc(50vw - 260px);
        padding-right: calc(50vw - 260px);
    }

    .header{
        padding-top: 20px;
    }

    .item-section{
        
    }

    .header__nav-toggler span,
    .header__nav-toggler::before,
    .header__nav-toggler::after{
        content: "";
        position: absolute;
        width: 30;
        height: 2px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: black;
        transition: .5s;
    }
    .header__nav-toggler::before{
        margin-top: -10px;
    }

    input:checked + .header__nav-toggler::after{
        rotate: -225deg;

    }
    input:checked + .header__nav-toggler span{
        opacity: 0;
    }
    .header__list{
        position: absolute;
        top: 65px;
        left: 0;
        height: calc(100dvh-65px);
        background: var(--bg-accent);
        translate: -200vw 0;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    
    input:checked ~ .header__list{
        translate: 0;
    }
    .offer{

    }
}

@media screen and (max-width:360px){}

